@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<dynamic>
@{
    // Culture for formatting
    var culture = new System.Globalization.CultureInfo("he-IL");
    DateTime DefDate = Convert.ToDateTime("1/1/1900");

    // Retrieve inputs from ViewData
    var nick_name = (string)ViewData["nick_name"];
    var wanum = (string)ViewData["wanum"];
    var menu_id = (int)ViewData["menu_id"];
    var address = (string)ViewData["address"];
    var city = (string)ViewData["city"];
    var order_body = (string)ViewData["order_body"];
    var donation = (int)ViewData["donation"];
    var orderpw = (string)ViewData["orderpw"];
    var menu_title = (string)ViewData["menu_title"];
    var is_pickup = (bool)(ViewData["is_pickup"] ?? false);
    var is_express = (bool)(ViewData["is_express"] ?? false);
    var is_new_member = (bool)(ViewData["is_new_member"] ?? false);
    var full_name = (string)(ViewData["full_name"] ?? string.Empty);
    var email = (string)(ViewData["email"] ?? string.Empty);
    var ref_source = (string)(ViewData["ref_source"] ?? string.Empty);
    var ref_source_desc = (string)(ViewData["ref_source_desc"] ?? string.Empty);
    var ref_source_other = (string)(ViewData["ref_source_other"] ?? string.Empty);
    var birth_date = (DateTime?)(ViewData["birth_date"]) ?? DefDate;
    var is_ship_phone = (bool)(ViewData["is_ship_phone"] ?? false);
    var ship_name = (string)(ViewData["ship_name"] ?? string.Empty);
    var ship_phone = (string)(ViewData["ship_phone"] ?? string.Empty);
    var is_postponed = (bool)(ViewData["is_postponed"] ?? false);
    var shipping_date = (DateTime?)(ViewData["shipping_date"]) ?? DefDate;
    var shipping_time = (string)(ViewData["shipping_time"] ?? string.Empty);

    // Determine display name for member
    var member_name = is_new_member ? full_name : nick_name;
    var fname = string.Empty;
    if (is_new_member)
    {
        var names = member_name.Split(' ', StringSplitOptions.RemoveEmptyEntries);
        if (names.Length > 0) fname = names[0];
        // new members cannot ship to others
        is_ship_phone = false;
        ship_name = string.Empty;
        ship_phone = string.Empty;
    }
}




<section class="wel_sec">
    <div class="container" style="direction:ltr">
        <div class="form_wel" style="margin-top:25px;">
            <div class="welsc caption">
                <h1>Everything<strong>OK?</strong></h1>
            </div>
            <div style="overflow: auto; background-color: #dfffbd; border-radius: 5px;padding:5px;margin:5px;">
                ☝️ Please verify order details
            </div>

            <div class="box_details" style="background-color: #ffffff; max-width: 350px; padding-bottom: 15px; ">
                <form id="PlaceOrderForm">
                    <input type="hidden" id="lang" name="lang" value="en" />
                    <input type="hidden" id="nick_name" name="nick_name" value="@nick_name" />
                    <input type="hidden" id="wanum" name="wanum" value="@wanum" />
                    <input type="hidden" id="menu_id" name="menu_id" value="@menu_id" />
                    <input type="hidden" id="address" name="address" value="@address" />
                    <input type="hidden" id="city" name="city" value="@city" />
                    <input type="hidden" id="order_body" name="order_body" value="@order_body" />
                    <input type="hidden" id="donation" name="donation" value="@donation" />
                    <input type="hidden" id="orderpw" name="orderpw" value="@orderpw" />
                    <input type="hidden" id="menu_title" name="menu_title" value="@menu_title" />
                    @if (is_new_member)
                    {
                        <input type="hidden" id="is_new_member" name="is_new_member" value="@is_new_member" />
                    }


                    <input type="hidden" id="full_name" name="full_name" value="@full_name" />
                    <input type="hidden" id="email" name="email" value="@email" />
                    <input type="hidden" id="ref_source" name="ref_source" value="@ref_source" />
                    <input type="hidden" id="ref_source_desc" name="ref_source_desc" value="@ref_source_desc" />
                    <input type="hidden" id="ref_source_other" name="ref_source_other" value="@ref_source_other" />
                    <input type="hidden" id="birth_date" name="birth_date" value="@birth_date" />

                    <input type="hidden" id="is_ship_phone" name="is_ship_phone" value="@is_ship_phone" />
                    <input type="hidden" id="ship_name" name="ship_name" value="@ship_name" />
                    <input type="hidden" id="ship_phone" name="ship_phone" value="@ship_phone" />

                    @if (is_postponed)
                    {
                        <input type="hidden" id="is_postponed" name="is_postponed" value="yes" />
                    }

                    <input type="hidden" id="shipping_date" name="shipping_date" value="@shipping_date" />
                    <input type="hidden" id="shipping_time" name="shipping_time" value="@shipping_time" />


                </form>

                <div class="infLabel">
                    <div class="infLabelTitle">
                        Your Order
                    </div>
                    <div style="overflow: auto; font-size: 22px;">
                        @order_body
                    </div>

                </div>

                @if (!is_ship_phone)
                {
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Order Recipient
                        </div>
                        <div style="overflow: auto; font-size: 22px;">
                            @member_name<br />

                            @if (!is_pickup)
                            {
                                @address <span>&nbsp;</span> @city <br />
                            }
                            @wanum
                        </div>


                    </div>
                }
                else
                {
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Order To
                        </div>
                        <div style="overflow: auto; font-size: 22px;">
                            @member_name<br />
                            @wanum
                        </div>


                    </div>
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Order Recipient
                        </div>
                        <div style="overflow: auto; font-size: 22px;">
                            @ship_name<br />@ship_phone

                            @if (!is_pickup)
                            {
                                <br />
                                @address <span>&nbsp;</span> @city <br />
                            }

                        </div>


                    </div>

                }


                @if (is_postponed)
                {
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Supply Method
                        </div>
                        <div style="overflow: auto; font-size: 22px;">
                            To be delivered on @shipping_date.ToShortDateString()<br />
                            Around @shipping_time
                        </div>


                    </div>
                }
                else
                {
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Supply Method
                        </div>
                        <div style="overflow: auto; font-size: 22px;">
                            @menu_title
                        </div>


                    </div>
                }



                <div class="infLabel">
                    <div class="infLabelTitle">
                        Charity Foundation Donation

                    </div>
                    @if (donation > 0)
                    {
                        <div style="overflow:auto">

                            @donation.ToString("c", culture) donation, Thank you!

                        </div>
                    }
                    else
                    {
                        <div style="overflow:auto">

                            No Donation

                        </div>
                    }
                </div>

                @if (!is_new_member)
                {
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Daily Password
                        </div>

                        <div style="overflow:auto">
                            @orderpw
                        </div>
                    </div>
                }
                else
                {
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Email Address
                        </div>

                        <div style="overflow:auto">
                            @email
                        </div>
                    </div>
                    <div class="infLabel">
                        <div class="infLabelTitle">
                            Date Of Birth
                        </div>

                        <div style="overflow:auto">
                            @birth_date.ToShortDateString()
                        </div>
                    </div>

                    if (ref_source_desc != "" || ref_source_other != "")
                    {
                        <div class="infLabel">

                            <div class="infLabelTitle">
                                Referred By
                            </div>

                            <div style="overflow:auto">
                                @ref_source_other@ref_source_desc
                            </div>


                        </div>

                    }

                    <div style="overflow:auto;background-color:#dfffbd">
                        <h3>💚 Hello @fname, We are very pleased that you've joined us. </h3>
                        Since this is your first order, one of our team members will contact you shortly after you'll place this order to assist you with using the service.
                    </div>

                }


                <div style="overflow:auto;" id="OrderActions">
                    <div class="errBox" id="OrderValidationError">xvcbxcbv</div>
                    <div class="b_d">
                        <button type="button" value="submit" class="sub" style="float:right;padding-right:5px;" onclick="hideElement('OrderActions'); showElement('OrderLoader'); AjaxActions('PlaceOrder', '', '', 'PlaceOrderForm');">Place Order</button>
                        <button type="button" value="Reset" class="re" style="float:left" onclick="ControlButton();">Edit Order</button>
                    </div>

                </div>
                <center>
                    <div class="spinner" style="font-size: 20px;display:none;" id="OrderLoader">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </center>

            </div>
        </div>
        <div class="form_ft_top">
            <div class="container">
                <div class="s_right">
                    <a href="main"><img src="images/ftlogo.png" alt="Hamachteret" /></a>
                </div>
                <div class="s_left">
                    <ul>
                        <li><a href="" target="_blank"><img src="images/instagram.png" alt="instagram" /></a></li>
                        <li><a href="" target="_blank"><img src="images/facebook.png" alt="facebook" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
