@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
    var context = HttpContextAccessor.HttpContext;
    var Request = context.Request;
    var culture = new System.Globalization.CultureInfo("he-IL");

    string Param(string key) =>
        Request.HasFormContentType && Request.Form.ContainsKey(key)
            ? Request.Form[key].ToString()
            : Request.Query.ContainsKey(key)
                ? Request.Query[key].ToString()
                : "";


    int u_id = WebSecurity.CurrentUserId;
    int cart_id = 0;
    decimal order_total = 0;
    var db = Database.Open("faysal");
    var sqlSelect = "SELECT order_total FROM CartSettings WHERE u_id=@0";
    var cart = db.QuerySingle(sqlSelect, u_id);
    if (cart != null)
    {
        try { order_total = cart.order_total; } catch { }
    }
    

    int quan = 0; try { quan = Convert.ToInt32(Param("quan")); } catch { }
    int strain = 0; try { strain = Convert.ToInt32(Param("strain")); } catch { }
    int paper = 0; try { paper = Convert.ToInt32(Param("paper")); } catch { }
    int MixturePotency = 0; try { MixturePotency = Convert.ToInt32(Param("MixturePotency")); } catch { }
    int Mixture = 0; try { Mixture = Convert.ToInt32(Param("mixture")); } catch { }
    int items_cnt = 0; try { items_cnt = Convert.ToInt32(ViewData["items_cnt"]); } catch { }

    string retTxtHtml = "";
    if (quan == 0) { retTxtHtml += "נא לבחור כמות מבוקשת!<br>"; }
    if (strain == 0) { retTxtHtml += "נא לבחור את הזן המבוקש!<br>"; }
    if (paper == 0) { retTxtHtml += "נא לבחור את סוג הנייר הרצוי!<br>"; }
    if (MixturePotency == 0) { retTxtHtml += "נא לבחור את המינון המבוקש!<br>"; }
    if (Mixture == 0) { retTxtHtml += "נא לבחור את התערובת המבוקשת!<br>"; }



    int requested_quan = 0;
    decimal quan_labor_charge = 0;
    decimal quan_labor_cost = 0;
    decimal quan_multiplier = 0;
    string quan_option_title = "";
    string paper_option_title = "";
    string paper_nick = "";
    string paper_nick_e = "";
    string strain_option_title = "";
    string mixture_potency_option_title = "";
    string mixture_potency_option_nick = "";
    string mixture_option_title = "";
    string mixture_option_cat_title = "";
    string mixture_option_cat_title_e = "";

    string quan_option_title_e = "";
    string paper_option_title_e = "";
    string strain_option_title_e = "";
    string mixture_potency_option_title_e = "";
    string mixture_potency_option_nick_e = "";
    string mixture_option_title_e = "";

    decimal gram_in_unit = 0;
    decimal unit_cost = 0;
    decimal gram_charge = 0;
    decimal strain_gram_cost = 0;
    decimal strain_multiplier = 0;
    decimal potency = 0;
    decimal mixture_gram_charge = 0;
    decimal mixture_gram_cost = 0;
    decimal mixture_multiplier = 0;

    decimal total_potent_gram = 0;
    decimal total_mixture_gram = 0;
    decimal total_gram = 0;
    decimal mixture_price = 0;
    decimal potent_price = 0;
    decimal total_price = 0;
    decimal sale_price = 0;
    decimal unit_sale_price = 0;

    int potent_percent = 0;
    int mixture_percent = 0;

    if (retTxtHtml == "")
    {
        sqlSelect = "SELECT * FROM quanOptions WHERE id=@0";
        var quanOptions = db.QuerySingle(sqlSelect, quan);
        if (quanOptions != null)
        {
            quan_labor_cost = quanOptions.labor_cost;
            quan_multiplier = quanOptions.multiplier;
            quan_labor_charge = quan_labor_cost * quan_multiplier;
            requested_quan = quanOptions.quan;
            quan_option_title = quanOptions.title;
            quan_option_title_e = quanOptions.title_e;
        }

        sqlSelect = "SELECT * FROM paperOptions WHERE id=@0";
        var paperOptions = db.QuerySingle(sqlSelect, paper);
        if (paperOptions != null)
        {
            gram_in_unit = paperOptions.gram_in_unit;
            unit_cost = paperOptions.unit_cost;
            paper_nick = paperOptions.nick;
            paper_nick_e = paperOptions.nick_e;
            paper_option_title = paperOptions.title;
            paper_option_title_e = paperOptions.title_e;
        }

        sqlSelect = "SELECT * FROM strainOptions WHERE id=@0";
        var strainOptions = db.QuerySingle(sqlSelect, strain);
        if (strainOptions != null)
        {
            strain_gram_cost = strainOptions.gram_cost;
            strain_multiplier = strainOptions.multiplier;
            gram_charge = strain_gram_cost * strain_multiplier;
            strain_option_title = strainOptions.title;
            strain_option_title_e = strainOptions.title_e;
        }

        sqlSelect = "SELECT * FROM mixturePotencyOptions WHERE id=@0";
        var mixturePotencyOptions = db.QuerySingle(sqlSelect, MixturePotency);
        if (mixturePotencyOptions != null)
        {
            potency = mixturePotencyOptions.potency;
            mixture_potency_option_title = mixturePotencyOptions.title;
            mixture_potency_option_title_e = mixturePotencyOptions.title_e;
            mixture_potency_option_nick = mixturePotencyOptions.nick;
            mixture_potency_option_nick_e = mixturePotencyOptions.nick_e;
        }

        sqlSelect = "SELECT * FROM mixtureOptions WHERE id=@0";
        var mixtureOptions = db.QuerySingle(sqlSelect, Mixture);
        if (mixtureOptions != null)
        {
            mixture_gram_cost = mixtureOptions.gram_cost;
            mixture_multiplier = mixtureOptions.multiplier;
            mixture_gram_charge = mixture_gram_cost * mixture_multiplier;
            mixture_option_title = mixtureOptions.title;
            mixture_option_title_e = mixtureOptions.title_e;
            mixture_option_cat_title = mixtureOptions.cat_title;
            mixture_option_cat_title_e = mixtureOptions.cat_title_e;
        }

        //total_gram = requested_quan * gram_in_unit;
        total_gram = (decimal)requested_quan * gram_in_unit;

        total_potent_gram = total_gram * potency;
        total_mixture_gram = total_gram - total_potent_gram;
        mixture_price = (total_gram - total_potent_gram) * mixture_gram_charge;
        potent_price = total_potent_gram * gram_charge;
        total_price = potent_price + mixture_price + quan_labor_charge;

        potent_percent = Convert.ToInt32(potency * 100);
        mixture_percent = 100 - potent_percent;
        sale_price = Faysal.RoundUpAmount(total_price);
        try { unit_sale_price = sale_price / requested_quan; } catch { }
        
    }

    db.Close();
}

<div class="Spacer20"></div>

@if (retTxtHtml != "")
{

    <div class="B">
        <div class="B" style="float:left">
            <button type="button" class="CartQuanAddBtn" style="background-color:rgba(166, 160, 111, 1);">הוספה לסל + </button>
        </div>
        @if (items_cnt > 0)
        {
            <div class="B" style="float:right">
                <button type="button" class="OrderPageChkoutBtn"  onclick="PageLoad('CART');">
                    @if (items_cnt > 0)
                    {
                        <div class="CartNotification1">@items_cnt</div>
                    }
                    צ'קאאוט @order_total.ToString("C0", culture) &gt;
                </button>
            </div>
        }
    </div>

 

    <div class="B" style="text-align:center;">
        <div class="Spacer100"></div>
        <div class="CartInstructions">לקבלת מחיר, נא לבחור את כל האפשרויות</div>

    </div>
}
else
{
    <div class="B">
        <div class="B" style="float:left">
            <button type="button" class="CartQuanBtn" onclick="CartChangeQuan('+1');">+</button>
            <div class="CartQuanLabel" id="quanOfPackagesLabel">
                1
                </div>
            <input type="hidden" name="quanOfPackages" id="quanOfPackages" value="1" />
            <input type="hidden" name="unit_price" id="unit_price" value="@sale_price.ToString("C", culture)" />
            <input type="hidden" name="total_gram" id="total_gram" value="@total_gram.ToString("0.##", culture)" />
            <input type="hidden" name="total_potent_gram" id="total_potent_gram" value="@total_potent_gram.ToString("0.##", culture)" />
            <input type="hidden" name="total_mixture_gram" id="total_mixture_gram" value="@total_mixture_gram.ToString("0.##", culture)" />

            <button type="button" class="CartQuanBtn" onclick="CartChangeQuan('-1');">-</button>

        </div>
        <div class="CartPriceLabel">
            <div class="B" id="CartPriceLabel">@sale_price.ToString("C0", culture)</div>
            <div class="CartPriceSubLabel">יוצא @unit_sale_price.ToString("C", culture) לפייסל</div>
            <div class="CartPriceSubLabel"><span id="total_gram_display_element">@total_gram.ToString("0.##", culture)</span> גרם קססה סה"כ</div>
            <div class="CartPriceSubSubLabel">
                <span id="total_potent_gram_display_element">@total_potent_gram.ToString("0.##", culture)</span>
                גרם @strain_option_title
                @if (total_mixture_gram > 0)
                {
                    <div class="B">
                        
                        <span id="total_mixture_gram_display_element">@total_mixture_gram.ToString("0.##", culture)</span>
                        גרם @mixture_option_cat_title @mixture_option_title

                    </div>
                }
                else
                {
                    <span id="total_mixture_gram_display_element" style="display:none"></span>
                }


            </div>

        </div>
     
    </div>
    <div class="Spacer50"></div>

    <div class="B">
        <div class="B" style="float:left">
            <button type="button" class="CartQuanAddBtn" onclick="AjaxActions('AddToCart', '', 'MainLoader', 'CalcItemCostForm');">הוספה לסל + </button>
        </div>
            @if (items_cnt > 0)
        {
            <div class="B" style="float:right">
                <button type="button" class="OrderPageChkoutBtn" style="background-color:rgba(166, 160, 111, 1);" onclick="PageLoad('CART');">
                    <div class="CartNotification1">@items_cnt</div>
                    צ'קאאוט @order_total.ToString("C0", culture) &gt;
                </button>
            </div>
        }
     
    </div>

}
