@using System.Globalization
@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor
@{
    var culture = new CultureInfo("he-IL");
    var context = HttpContextAccessor.HttpContext;
    var sessionId = ViewData["SessionId"]?.ToString() ?? context.Session.Id;

    var callingPage = ViewData["callingPage"]?.ToString() ?? null;
    int u_id = WebSecurity.CurrentUserId;
    var db = Database.Open("faysal");
    var cart = db.Query("SELECT * FROM cart WHERE u_id=@0 order by ts", u_id);
    db.Close();

    int itemCounter = 0;
    decimal order_total = 0;
    decimal order_total_including_shipping = 0;
    decimal shipping_charge = 0;
    decimal free_shipping_marker = 0;
    decimal free_shipping_deficit = 0;

    bool is_actions = false;
    if (callingPage == "CART")
    {
        is_actions = true;
    }

    var Default_Free_Shipping_Marker = context.Session.GetString("Default_Free_Shipping_Marker") ?? "0";
    var Default_Shipping_Charge = context.Session.GetString("Default_Shipping_Charge") ?? "0";

    try { shipping_charge = Convert.ToDecimal(Default_Shipping_Charge); } catch { }
    try { free_shipping_marker = Convert.ToDecimal(Default_Free_Shipping_Marker); } catch { }


}
<div class="B" style="text-align:right;">
    <div class="B" style="color:#000">
        @if (!cart.Any())
        {
            <div class="A" style="color:#f00;"> עדיין לא התווספו פריטים להזמנה </div>
        }
        else
        {
            foreach (var item in cart)
            {
                itemCounter++;
                decimal item_total = item.sale_price * item.quanOfPackages;
                order_total += item_total;

                <div class="CartRow">
                    <div class="B">
                        <div class="CartRowTitle">
                            @item.quan_title
                        </div>

                        <div class="CartRowDesc">
                            <div class="CartInfoItem">זן<div class="CartPrice"><b>@item.strain_title</b></div></div>
                            <div class="CartInfoItem">מינון<div class="CartPrice"><b>@item.potency_title</b></div></div>
                            <div class="CartInfoItem">נייר<div class="CartPrice"><b>@item.paper_title</b></div></div>
                            <div class="CartInfoItem">פארש<div class="CartPrice"><b>@item.mixture_title</b></div></div>


                            @if (item.quanOfPackages > 1)
                            {
                                <div class="CartInfoItem">
                                    מחיר החפיסה
                                    <div class="CartPrice"><b>@item.sale_price.ToString("C0", culture)</b></div>
                                </div>

                            }
                        </div>
                    </div>

                    
                    <div class="A">
                        @if (is_actions)
                        {
                            <img src="images/trash.png" style="float:right;height:20px;max-width:20px;" onclick="AjaxActions('CartAction', 'REMOVE','MainLoader', '@item.serial');" />
                            <span class="CartBtn" onclick="AjaxActions('CartAction', 'ADDONE', 'MainLoader', '@item.serial');">+</span>
                            @if (item.quanOfPackages > 1)
                            {
                                <span class="CartBtn" onclick="AjaxActions('CartAction', 'SUBONE', 'MainLoader', '@item.serial');">-</span>
                            }
                        
                        }
                        
                        @if (item.quanOfPackages > 1)
                        {
                            <div class="CartIemPrice">@item.quanOfPackages יחידות - <b>@item_total.ToString("C0", culture)</b></div>
                        }
                        else
                        {
                            <div class="CartIemPrice"><b>@item_total.ToString("C0", culture)</b></div>
                        }


                    </div>

                </div>
            }

            if (order_total > free_shipping_marker)
            {
                shipping_charge = 0;
            }
            else
            {
                free_shipping_deficit = free_shipping_marker - order_total;
            }
            order_total_including_shipping = order_total + shipping_charge;

            <div class="A" style="text-align:right">
                <div class="B">

                    @if (is_actions)
                    {
                        <button type="button" class="CartAddMoreBtn" type="button" onclick="PageLoad('ORDERS');" style="display:none;">&lt; חזרה</button>
                    }
                    
                    
                    <div class="B" style="float:left">
                        <div class="B" style="text-align:right">
                            <div class="ShCartTotalContainer" style="float:left">
                                @if (shipping_charge > 0)
                                {
                                    <div class="ShCartTotal">
                                        עלות משלוח @shipping_charge.ToString("C0", culture)
                                    </div>

                                }
                                else
                                {
                                    <div class="ShCartTotal">
                                        <b>משלוח חינם</b>
                                    </div>
                                }

                            </div>

                        </div>
                        <div class="B" style="width:100%;">
                            <div class="CartTotalContainer" style="float:left">
                                <span class="CartTotalMsg">סך הכל לתשלום</span>
                                <button type="button" class="CartTotal">
                                    @order_total_including_shipping.ToString("C0", culture)
                                </button>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


        }
    </div>

</div>
