@using System.Globalization
@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor
@{
    var culture = new CultureInfo("he-IL");
    var context = HttpContextAccessor.HttpContext;
    var sessionId = ViewData["SessionId"]?.ToString() ?? context.Session.Id;

    var callingPage = ViewData["callingPage"]?.ToString() ?? "CART";
    int u_id = WebSecurity.CurrentUserId;
    int order_id = 0; try { order_id = Convert.ToInt32(ViewData["order_id"]); } catch { }

    var db = Database.Open("faysal");

    dynamic cart;

    if (order_id > 0)
    {
        cart = db.Query("SELECT * FROM orderitems WHERE order_id=@0 order by ts", order_id);
    }
    else
    {
        cart = db.Query("SELECT * FROM cart WHERE u_id=@0 order by ts", u_id);
    }
    



    string sqlSelect = "";
 

    int itemCounter = 0;
    decimal order_total = 0;
    decimal order_total_including_shipping = 0;
    decimal shipping_charge = 0;
    decimal free_shipping_marker = 0;
    decimal free_shipping_deficit = 0;

    bool is_actions = false;
    if (callingPage == "CART")
    {
        is_actions = true;
    }

    var Default_Free_Shipping_Marker = context.Session.GetString("Default_Free_Shipping_Marker") ?? "0";
    var Default_Shipping_Charge = context.Session.GetString("Default_Shipping_Charge") ?? "0";

    try { shipping_charge = Convert.ToDecimal(Default_Shipping_Charge); } catch { }
    try { free_shipping_marker = Convert.ToDecimal(Default_Free_Shipping_Marker); } catch { }



<div class="B" style="text-align:right;">
    <div class="B" style="color:#000">
        @if (cart.Count==0)
        {
                <div class="A" style="color:#f00;"> עדיין לא התווספו פריטים להזמנה </div>
            }
            else
            {
                foreach (var item in cart)
                {
                    itemCounter++;
                    decimal item_total = item.sale_price * item.quanOfPackages;
                    decimal total_gram = item.total_gram ;
                    decimal total_potent_gram = item.total_potent_gram ;
                    decimal total_mixture_gram = total_gram - total_potent_gram;
                    decimal unit_sale_price = 0;
                    order_total += item_total;
                    int mixture_option_id = item.mixture_option_id;
                    sqlSelect = "SELECT cat_title,cat_title_e FROM MixtureOptions WHERE id=@0";
                    var mixtureOpt = db.QuerySingle(sqlSelect, mixture_option_id);
                    string mixture_cat_title = "";
                    try { mixture_cat_title = mixtureOpt.cat_title; } catch { }

                    int paper_color_id = item.paper_color;
                    sqlSelect = "SELECT * FROM PaperColors WHERE id=@0";
                    var PaperOpt = db.QuerySingle(sqlSelect, paper_color_id);
                    string paper_color_title = "";
                    try { paper_color_title = PaperOpt.title; } catch { }

                    try {
                        unit_sale_price = Convert.ToDecimal(item.sale_price) / Convert.ToDecimal(item.quanInPackage);
                        } 
                    catch { }

                    <div class="CartRow">
                    <div class="B">
                        <div class="CartRowTitle">
                            @item.quan_title
                          
                        </div>

                        <div class="CartRowDesc">
                                <div class="CartInfoItem">נייר<div class="CartPrice"> @item.paper_title @paper_color_title</div></div>
                                <div class="CartInfoItem">מינון<div class="CartPrice">@item.potency_title</div></div>
                                <div class="CartInfoItem">
                                    <div class="B" style="color:var(--green);">מפרט טכני</div>
                                    <div class="CartGrams"> @total_gram.ToString("0.##", culture) גרם קססה סה"כ</div>

                                    <div class="CartGrams"> @total_potent_gram.ToString("0.##", culture) גרם  @item.strain_title</div>
                                @if (item.potency < 1)
                            {
                                        <div class="CartGrams"> @total_mixture_gram.ToString("0.##", culture) גרם @mixture_cat_title @item.mixture_title</div>
                            }
                                </div>






                                <div class="CartInfoItem" style="color:var(--green);">
                                    מחיר לפייסל<div class="CartPrice">@unit_sale_price.ToString("C1", culture)</div>
                                </div>
                             

                            @if (item.quanOfPackages > 1)
                            {
                                <div class="CartInfoItem">
                                    מחיר
                                    <div class="CartPrice">@item.sale_price.ToString("C1", culture)</div>
                                </div>

                            }
                        </div>
                    </div>

                    
                    <div class="A">
                        @if (is_actions)
                        {
                            <img src="images/trash.png" style="float:right;height:20px;max-width:20px;" onclick="AjaxActions('CartAction', 'REMOVE','MainLoader', '@item.serial');" />
                            <span class="CartBtn" onclick="AjaxActions('CartAction', 'ADDONE', 'MainLoader', '@item.serial');">+</span>
                            @if (item.quanOfPackages > 1)
                            {
                                <span class="CartBtn" onclick="AjaxActions('CartAction', 'SUBONE', 'MainLoader', '@item.serial');">-</span>
                            }
                        
                        }
                        
                        @if (item.quanOfPackages > 1)
                        {
                            <div class="CartIemPrice">@item.quanOfPackages יחידות - <b>@item_total.ToString("C0", culture)</b></div>
                        }
                        else
                        {
                            <div class="CartIemPrice"><b>@item_total.ToString("C0", culture)</b></div>
                        }


                    </div>

                </div>
            }

            if (order_total > free_shipping_marker)
            {
                shipping_charge = 0;
            }
            else
            {
                free_shipping_deficit = free_shipping_marker - order_total;
            }
            order_total_including_shipping = order_total + shipping_charge;

            <div class="A" style="text-align:right">
                <div class="B">

                    @if (is_actions)
                    {
                        <button type="button" class="CartAddMoreBtn" type="button" onclick="PageLoad('ORDERS');" style="display:none;">&lt; חזרה</button>
                    }
                    
                    
                    <div class="B" style="float:left">
                        <div class="B" style="text-align:right">
                            <div class="ShCartTotalContainer" style="float:left">
                                @if (shipping_charge > 0)
                                {
                                    <div class="ShCartTotal">
                                        עלות משלוח @shipping_charge.ToString("C0", culture)
                                    </div>

                                }
                                else
                                {
                                    <div class="ShCartTotal">
                                        <b>משלוח חינם</b>
                                    </div>
                                }

                            </div>

                        </div>
                        <div class="B" style="width:100%;">
                            <div class="CartTotalContainer" style="float:left">
                                <span class="CartTotalMsg">סך הכל לתשלום</span>
                                <button type="button" class="CartTotal">
                                    @order_total_including_shipping.ToString("C0", culture)
                                </button>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


        }
    </div>

</div>

    db.Close();
}