@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
    var context = HttpContextAccessor.HttpContext;
    var Request = context.Request;
    var culture = new System.Globalization.CultureInfo("he-IL");
    var Session = context.Session;

    string? member_nick = HttpContextAccessor.HttpContext!.Session.GetString("member_nick");

    string Param(string key) =>
        Request.HasFormContentType && Request.Form.ContainsKey(key)
            ? Request.Form[key].ToString()
            : Request.Query.ContainsKey(key)
                ? Request.Query[key].ToString()
                : "";

    int u_id = 0; try { u_id = WebSecurity.CurrentUserId; } catch { }
    var db = Database.Open("faysal");
    var sqlSelect = "";
    const int MAX_ATTEMPTS = 4;
    int attemptCount = Session.GetInt32("pw_attempts") ?? 0;
    sqlSelect = "SELECT TOP(5) order_id,ts,order_status,grand_total FROM ordertracking WHERE u_id=@0 ORDER BY ts DESC";
    var orders = db.Query(sqlSelect, u_id);
    sqlSelect = "SELECT address_nick,address_notes,is_active,disp_address FROM Addresses WHERE u_id=@0 ORDER BY last_active DESC";
    var addresses = db.Query(sqlSelect, u_id);
    sqlSelect = "SELECT wanum_mask,email_mask,tlg_mask FROM USERS WHERE u_id=@0 ";
    var user = db.QuerySingle(sqlSelect, u_id);

    string email_mask = ""; try { email_mask = user.email_mask; } catch { }
    string wanum_mask = ""; try { wanum_mask = user.wanum_mask; } catch { }
    string tlg_mask = ""; try { tlg_mask = user.tlg_mask; } catch { }


    db.Close();
}

<section class="wel_sec">
    <div class="container">

        <div class="top_spacer"></div>
        <div class="mainGreet">שלום @member_nick
            <div class="LogOffBtn" onclick="AjaxActions('Logout');">התנתקות</div>
        
        </div>
        <img class="logo" style="margin:5px;" src="images/newlogo.png" />
        <div class="MainMenuTitle">
            אזור אישי
        </div>
        <div class="B">





            <div class="B">
                <div class="MainMenuBtn" onclick="PageLoad('ORDERS');controller.close('BottomUp');">היסטוריית הזמנות
                    <span class="MainMenuIcon">&gt;</span>

                </div>
            </div>

            <div class="B">
                <div class="MainMenuBtn" onclick="Accordionize('Acc_ChP');">
                    שינוי סיסמא
                    <span class="MainMenuIcon">&gt;</span>

                </div>
            </div>
            <div class="B" style="text-align:center">
                <div class="B" style="text-align:center">
                    <center>
                        <button class="accordion" id="Acc_ChP" style="display:none"></button>

                        <div class="panel" style="width:90%;padding:0">

                            <div id="ChPwDiv">
                                <div class="PropItemQuanMenu">

                                    @if (attemptCount <= MAX_ATTEMPTS)
                                    {
                                        <input type="password" class="RegCode_tb" placeholder="מה הסיסמא הנוכחית שלך?" id="curPw" />
                                        <div class="B" style="float:left">
                                            <button type="button" class="CartQuanAddBtn" style="margin:10px;width:auto" onclick="AjaxUpdate('PwChangeVerify', 'ChPwDiv', 'MainLoader', document.getElementById('curPw').value);">שינוי סיסמא &gt;</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="regErrMsg2">
                                            סיסמא שגויה הוזנה יותר מדי פעמים!
                                        </div>
                                        <div class="forgotPw" onclick="PageLoad('FORGOTPW');"><u>שכחת את הסיסמא?</u></div>

                                    }

                                </div>
                            </div>

                           


                        </div>

                    </center>

                </div>

            </div>


            <div class="B">
                <div class="MainMenuBtn" onclick="Accordionize('Acc_UpdInf');">
                    עדכון פרטים
                    <img class="MainMenuIcon" src="~/images/members.png" />
                </div>
            </div>
            <div class="B" style="text-align:center">
                <div class="B" style="text-align:center">
                    <center>
                        <button class="accordion" id="Acc_UpdInf" style="display:none"></button>

                        <div class="panel" style="width:90%;padding:0">

                            <div id="UpdateMemberInfoDiv">
                                <div class="PropItemQuanMenu">

                                    <div class="B">
                                        <div class="infUpdDisclaimer">
                                            ⚠️ בלי לחץ, אנחנו לא שומרים שום מידע שעשוי לזהות אותך
                                        </div>
                                        
                                    </div>

                                    <div class="B">
                                        <span class="PInfoIcon">📧</span>
                                        <input type="text" class="RegCode_tb" placeholder="כתובת מייל"  id="email_mask" value="@email_mask" onclick="hideElement('email_mask');showElement('email');" />
                                        <div class="B" id="email" style="display:none;">
                                           
                                            <input type="text" class="infUpdate_tb" placeholder="כתובת מייל" name="email" id="email_tb" />
                                            <button type="button" class="infUpdateBtn" onclick="AjaxActions('UpdateMemberInfo', 'EMAIL', 'MainLoader', document.getElementById('email_tb').value);">✔</button>
                                            <button type="button" class="infCancelBtn" onclick="hideElement('email');showElement('email_mask');document.getElementById('email_tb').value=''"> <img class="infCancelBtn" src="~/images/x.png" /></button>


                                        </div>
                                    </div>
                                    <div class="B">
                                        <img class="PInfoIcon" src="~/images/wa_icon.jpg">
                                        <input type="text" class="RegCode_tb" placeholder="#ווטסאפ"  id="wanum_mask" value="@wanum_mask" onclick="hideElement('wanum_mask');showElement('wanum');" />
                                        <div class="B" id="wanum" style="display:none;">
                                            <input type="text" class="infUpdate_tb" placeholder="#ווטסאפ" name="wanum" id="wanum_tb" />
                                            <button type="button" class="infUpdateBtn" onclick="AjaxActions('UpdateMemberInfo', 'WANUM', 'MainLoader', document.getElementById('wanum_tb').value);">✔</button>
                                           
                                            <button type="button" class="infCancelBtn" onclick="hideElement('wanum');showElement('wanum_mask');document.getElementById('wanum_tb').value=''" "> <img class="infCancelBtn" src="~/images/x.png" /></button>

                                        </div>
                                       
                                    </div>
                                    <div class="B">
                                        <img class="PInfoIcon" src="~/images/tlg_icon.jpg">
                                        <input type="text" class="RegCode_tb" placeholder="טלגרם"  id="tlg_mask" value="@tlg_mask" onclick="hideElement('tlg_mask');showElement('tlg');" />
                                        <div class="B" id="tlg" style="display:none;">
                                        
                                            <input type="text" class="infUpdate_tb" placeholder="טלגרם" name="tlg" id="tlg_tb" />
                                            <button type="button" class="infUpdateBtn" onclick="AjaxActions('UpdateMemberInfo', 'TLG', 'MainLoader', document.getElementById('tlg_tb').value);">✔</button>
                                            <button type="button" class="infCancelBtn" onclick="hideElement('tlg');showElement('tlg_mask');document.getElementById('tlg_tb').value=''" "> <img class="infCancelBtn" src="~/images/x.png" /></button>

                                        </div>
                                     
                                    </div>
                                    
                                    <div id="UpdateMemberInfoErrDiv" class="regErrMsg2">

                                    </div>
                                    
                                  
                                </div>
                            </div>




                        </div>

                    </center>

                </div>

            </div>



            <div class="B">
                <div class="MainMenuBtn" onclick="Accordionize('Acc_MemberAddress');">
                    הכתובות שלי
                    <span class="MainMenuIcon">?</span>
                </div>
            </div>
            <div class="B" style="text-align:center">
                <div class="B" style="text-align:center">
                    <center>
                        <button class="accordion" id="Acc_MemberAddress" style="display:none"></button>

                        <div class="panel" style="width:90%;padding:0">

                            <div id="UpdateMemberInfoDiv">
                                <div class="PropItemQuanMenu">
                                    @foreach(var address in addresses)
                                    {
                                        <div class="B">
                                            <span class="PInfoIcon">🏠</span>
                                            <div class="A">
                                                <button type="button" class="infDelBtn" onclick="hideElement('tlg');showElement('tlg_mask');"> <img class="infCancelBtn" src="~/images/x.png" /></button>
                                                <span style="color:var(--brown);font-weight:bold;">@address.address_nick:</span> @address.disp_address<br /><span class="MiniTag" style="color:gray">@address.address_notes</span>
                                                
                                            </div>
                                            
                                        </div>
                                    }
                                    
                                    
                                </div>
                            </div>




                        </div>

                    </center>

                </div>

            </div>


            <div class="B">
                <div class="MainMenuCloseBtn" onclick="controller.open('MainMenu'); ">סגירת תפריט
                    <img class="MainMenuIcon" src="~/images/x.png" />
                </div>
                
            </div>

            <div class="Spacer100">&nbsp;</div>
        </div>

    </div>
    </section>

