@using System
@using System.Data.SqlClient
@using Dapper
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration

@{
    // Disable layout for AJAX requests — preserves WebMatrix behavior

    Layout = null;
    var context = HttpContextAccessor.HttpContext;
    var culture = new System.Globalization.CultureInfo("he-IL");
    var sessionId = "";
    try { sessionId = context.Session.Id; } catch { sessionId = ""; }
    int u_id = WebSecurity.CurrentUserId;
    int ref_id = 0; int.TryParse(context.Request.Query["ref_id"], out ref_id);
    int aff_id = 0; int.TryParse(context.Request.Query["aff_id"], out aff_id);

    var faysal = Database.Open("faysal");
    var sqlSelect = "";

    sqlSelect = "SELECT count(serial) as the_cnt FROM cart WHERE u_id=@0";
    var cart = faysal.QuerySingle(sqlSelect, u_id);
    int items_cnt = 0;try { items_cnt = cart.the_cnt; } catch { }

    ViewData["items_cnt"] = items_cnt;

    sqlSelect = "SELECT * FROM mixtureOptions WHERE is_active=1 order by title";
    var mixtureOptions = faysal.Query(sqlSelect);

    sqlSelect = "SELECT * FROM mixturePotencyOptions WHERE is_active=1 ";
    var mixturePotencyOptions = faysal.Query(sqlSelect);

    sqlSelect = "SELECT * FROM paperOptions WHERE is_active=1 order by gram_in_unit DESC";
    var paperOptions = faysal.Query(sqlSelect);
    sqlSelect = "SELECT * FROM paperColors WHERE is_active=1";
    var paperColors = faysal.Query(sqlSelect);

    sqlSelect = "SELECT * FROM quanOptions WHERE is_active=1 ORDER BY quan";
    var quanOptions = faysal.Query(sqlSelect);

    sqlSelect = "SELECT * FROM strainOptions WHERE is_active=1";
    var strainOptions = faysal.Query(sqlSelect);
    int strainCnt = 0;


    int quanOptionsCnt = quanOptions.Count();
    int quanOptionsCounter = 0;
    bool quanOptionsDispEven = true;
    string quanOptionCurrentClass = "PropItemFull";
    string quanOptiontitle = "";
    if (quanOptionsCnt % 2 == 1)
    {
        quanOptionsDispEven = false;
    }

    int paper_icon_width = 100;

    decimal potency = 1;

}


<section class="wel_sec">
    <div class="container">

        <div class="B">
            <div class="B">
                <div class="A">
                    <img class="ordersLogo"  src="/images/s_logo.png" />
                    <span style="z-index:9999;font-size:16px;color:white;float:left;padding-left:10px;direction:ltr;display:none" onclick="window.location.href = '/?go=orderenglish';"><span> 🌐 </span>For English, click here</span>
                    <div class="B" style="float:left">
            
                        <div class="ordersSmallButtons" style="float:left">
                            <img src="images/call.png" class="ordersSmallButtons" />
                        </div>
                    </div>

                </div>
                
            </div>
       
            <div class="A" >
                <form id="CalcItemCostForm">
                    <input type="hidden" value="ver2" name="ver" />
                    <input type="hidden" value="@items_cnt" id="cartItemsCnt" />
                    <div class="A" style="text-align:center">
                        <div class="OrderIntroMsg" >
                            מה מגלגלים לך היום?
                      

                        </div>
                  
                    </div>





                    <div class="PropItemSelection" id="MenuSelectDiv">

                        <div class="PropRow" onclick="Accordionize('Acc_quan');">
                            <div class="PropTitle">כמות</div>
                            <span class="ExpandMenuOption">+</span>
                            <span id="selected_quan" class="SelectedPropTitle"></span>

                        </div>

                    </div>
                    <div class="B" style="text-align:center">
                        <div class="B" style="text-align:center">
                            <center>
                                <button class="accordion" id="Acc_quan" style="display:none"></button>

                                <div class="panel" style="width:90%;padding:0">
                                    <div class="PropItemQuanMenu">

                                        @foreach (var item in quanOptions)
                                        {
                                            quanOptionsCounter++;

                                            if (quanOptionsCounter == 1)
                                            {
                                                quanOptiontitle = item.title;
                                            }

                                            if (quanOptionsCounter > 1)
                                            {
                                                quanOptiontitle = "<br/>"+  item.quan + " פייסלים";

                                                if (quanOptionsCounter % 2 == 0)
                                                {
                                                    quanOptionCurrentClass = "PropItem-R";
                                                }
                                                else
                                                {
                                                    quanOptionCurrentClass = "PropItem-L";
                                                }

                                            }
                                            if (quanOptionsCounter == quanOptionsCnt && quanOptionsDispEven)
                                            {
                                                quanOptionCurrentClass = "PropItemFull";
                                                quanOptiontitle = item.title;
                                            }
                                            <div class="@quanOptionCurrentClass" onclick="SelectItemProp('quan', @item.id)">
                                                <img class="quan_icon" src="~/images/quan_icon.png" />  @Html.Raw(quanOptiontitle)
                                            </div>
                                            <div style="display:none"><input type="hidden" id="title_for_quan_@item.id" value="@item.title" /></div>

                                        }

                                        <input type="hidden" id="quan" name="quan" />
                                     

                                    </div>

                                </div>

                            </center>

                        </div>

                    </div>

                    <div class="OrderMakerSpacer"></div>

                    <div class="PropItemSelection">

                        <div class="PropRow" onclick="Accordionize('Acc_strain');">
                            <div class="PropTitle">
                                זן</div>
                            <span class="ExpandMenuOption">+</span>
                            <span id="selected_strain" class="SelectedPropTitle"></span>

                        </div>

                    </div>
                    <div class="B" style="text-align:center">
                        <div class="B" style="text-align:center">
                            <center>
                                <button class="accordion" id="Acc_strain" style="display:none"></button>
                                <div class="panel" style="width:90%">
                                    <div class="PropItemMenu">

                                        @foreach (var item in strainOptions)
                                        {
                                            strainCnt++;
                                            string floatDir = "right";
                                            if (strainCnt % 2 == 0) { floatDir = "left"; }
                                            <div class="PropItemStrain" >
                                                <div class="B" style="float:right" onclick="SelectItemProp('strain', @item.id)">
                                                    <div class="B" style="float:right;width:80px;text-align:center">
                                                        <img style="height: 60px;max-width: 60px;border-radius: 10px;margin: 3px;padding: 3px;" src="pImgView?strain_id=@item.id" />
                                                    </div>
                                                    
                                                    <div class="PropItemStrainTitle">
                                                        <div class="B">@item.title</div>
                                                        <div class="PropItemStrainSubTitle" style="font-size:16px;">@item.cat_title</div>
                                                        </div>
                                                    
                                                </div>

                                                <div style="display:none"><input type="hidden" id="title_for_strain_@item.id" value="@item.title" /></div>
                                                <div class="PropItemStrainBtn" onclick="sbload('MainSb','Caller?p1=StrainInfo&p2=@item.id');">?</div>
                                            </div>
                                        }
                                        <input type="hidden" id="strain" name="strain" />

                                   

                                    </div>

                                </div>

                            </center>

                        </div>

                    </div>
                    <div class="OrderMakerSpacer"></div>
                    <div class="PropItemSelection">

                        <div class="PropRow" onclick="Accordionize('Acc_paper');">
                            <div class="PropTitle">נייר</div>
                            <span class="ExpandMenuOption">+</span>
                            <span id="selected_paper" class="SelectedPropTitle"></span>
                        </div>
                    

                    </div>
                    <div class="B" style="text-align:center">
                        <div class="B" style="text-align:center">
                            <center>
                                <button class="accordion" id="Acc_paper" style="display:none"></button>

                                <div class="panel" style="width:90%">

                                    <div class="PropItemMenu">
                                        <div class="PaperColorSelect">גודל</div>

                                        @foreach (var item in paperOptions)
                                        {
                                            paper_icon_width = paper_icon_width - 20;
                                            string paper_icon_width_str = paper_icon_width.ToString() + "px";
                                            <div class="PropPaperItem" onclick="SelectItemProp('paper', @item.id)">
                                                <img class="paper_icon" src="~/images/paper_icon.png" style="width:@paper_icon_width_str" />
                                                @item.title
                                            </div>
                                            <div class="Spacer5"></div>
                                            <div style="display:none"><input type="hidden" id="title_for_paper_@item.id" value="@item.title" /></div>

                                        }
                                        <div class="Spacer10"></div>
                                        <div class="PaperColorSelect">צבע הנייר</div>
                                        <div class="A" style="text-align:center;margin-top:0">
                                            
                                            <span class="PropItem-N" >
                                                <input type="radio" name="paper_color" value="0" checked onclick="document.getElementById('paper_color').value='';if(document.getElementById('paper').value!=''){SelectItemProp('paper',document.getElementById('paper').value)}" /> לא משנה
                                            </span>
                                            @foreach(var pColor in paperColors)
                                            {
                                                <span class="PropItem-N">
                                                    <input type="radio" name="paper_color" value="@pColor.id" onclick="document.getElementById('paper_color').value='@pColor.title';if(document.getElementById('paper').value!=''){SelectItemProp('paper',document.getElementById('paper').value)}" /> @pColor.title
                                                </span>
                                            }
                                            <div style="display:none"><input type="hidden" id="paper_color" name="paper_color" value="" /></div>

                                        </div>
                                        <div class="Spacer10"></div>
                                        

                                        <input type="hidden" id="paper" name="paper" />

                                   

                                    </div>

                                </div>


                           
                            </center>

                        </div>

                    </div>
                    <div class="OrderMakerSpacer"></div>

                    <div class="PropItemSelection">

                        <div class="PropRow" onclick="Accordionize('Acc_MixturePotency');">
                            <div class="PropTitle">מינון</div>
                            <span class="ExpandMenuOption">+</span>
                            <span id="selected_MixturePotency" class="SelectedPropTitle"></span>

                        </div>

                    </div>
                    <div class="B" style="text-align:center">
                        <div class="B" style="text-align:center">
                            <center>
                                <button class="accordion" id="Acc_MixturePotency" style="display:none"></button>

                                <div class="panel" style="width:90%">
                                    <div class="PropItemMenu" style="text-align:center">

                                        @foreach (var item in mixturePotencyOptions)
                                        {
                                            potency = item.potency;
                                            int potInt = (int)(potency * 100);

                                            string itmCls = "PropMixtureItem";
                                            string txtColor = "#0d4133";
                                            if (potInt > 50)
                                            {
                                                txtColor = "#fff";
                                                // itmCls = "PropMixtureItemWhite";
                                            }

                                            <div class="@itmCls"
                                                 style="background-color: rgba(13,65,51,@potency);"
                                                 onclick="SelectItemProp('MixturePotency', @item.id)">
                                                <div style="color:@txtColor;">@item.title</div>
                                            </div>
                                            <div style="display:none">
                                                <input type="hidden" id="title_for_MixturePotency_@item.id" value="@item.title" />
                                            </div>
                                        }

                                        <input type="hidden" id="MixturePotency" name="MixturePotency" />

                                 

                                    </div>

                                </div>



                            </center>

                        </div>

                    </div>
                    <div class="OrderMakerSpacer"></div>


                    <div class="PropItemSelection">


                        <div class="PropRow" onclick="Accordionize('Acc_mixture');">
                            <div class="PropTitle">פארש</div>
                            <span class="ExpandMenuOption">+</span>
                            <span id="selected_mixture" class="SelectedPropTitle"></span>

                        </div>




                    </div>
                    <div class="B" style="text-align:center">
                        <div class="B" style="text-align:center">
                            <center>
                                <button class="accordion" id="Acc_mixture" style="display:none"></button>

                                <div class="panel" style="width:90%;padding:0;margin:0">

                                    <div class="PropItemMenu" style="padding:0;margin:0;text-align:center">

                                        @foreach (var item in mixtureOptions)
                                        {
                                            strainCnt++;
                                            string floatDir = "right";
                                            if (strainCnt % 2 == 0) { floatDir = "left"; }
                                            <div class="PropItemMixture" onclick="SelectItemProp('mixture', @item.id)">
                                                <div class="B" >
                                                    <div class="B" style="float:right;width:80px;text-align:center">
                                                        <img style="height: 60px;max-width: 60px;border-radius: 10px;margin: 3px;padding: 3px;" src="MixOptImgView?id=@item.id" />
                                                    </div>

                                                    <div class="PropItemStrainTitle" >
                                                        <div class="B">@item.title</div>
                                                        <div class="PropItemStrainSubTitle" style="font-size:16px;">@item.cat_title</div>
                                                    </div>

                                                </div>

                                                <div style="display:none"><input type="hidden" id="title_for_mixture_@item.id" value="@item.cat_title @item.title" /></div>
                                              
                                            </div>
                                        }
                                        <input type="hidden" id="mixture" name="mixture" />



                                    </div>



                                </div>



                            </center>

                        </div>

                    </div>
                    <center>
                        <div class="spinner" style="font-size: 20px;display:none;" id="ItemCostLoader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div style="overflow:auto;padding:5px;" id="ItemCostReturnContainer">

                            @await Html.PartialAsync("Shared/Partials/_CalcItemCost")

                        </div>

                        <div style="overflow:auto;display:none" id="CartContainer">
                            
                            @await Html.PartialAsync("Shared/Partials/_Cart")

                        </div>



                    </center>




                </form>
            </div>
        </div>
    </div>
</section>

@functions {
    public void OnPost()
    {
        // This prevents 400s if POST is received
    }
}