@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    DateTime defDate = Convert.ToDateTime("1/1/1900");
    var context = HttpContextAccessor.HttpContext;
    var Request = context.Request;
    var culture = new System.Globalization.CultureInfo("he-IL");

    string Param(string key) =>
        Request.HasFormContentType && Request.Form.ContainsKey(key)
            ? Request.Form[key].ToString()
            : Request.Query.ContainsKey(key)
                ? Request.Query[key].ToString()
                : "";
    string userName = "", password = "", email = "", wanum = "", req_type = "", password_confirm = "", telegram_nick = "", display_wanum="", member_name=""; 
    string suggested_user_name = "";

    string pa_code = ViewData["pa_code"] as string ?? "";
    int member_id = 0;
    int gender = 0;
    int PreApprovalId = 0;
    DateTime birth_date = defDate;
    /////////////////////////////
    int u_id = 0;
    u_id = WebSecurity.CurrentUserId;

    string Clean(string s)
    {
        s = (s ?? "").Trim();
        // remove common zero-width marks (LRM/RLM)
        return s.Replace("\u200E", "").Replace("\u200F", "");
    }
    pa_code = Clean(pa_code);


    var db = Database.Open("faysal");
    var sqlSelect = "SELECT * FROM UserPreApprovals WHERE pa_code=@0 AND is_registered=0";
    var preapproval = db.QuerySingle(sqlSelect, pa_code);
    db.Close();
    bool is_validated = false;
    bool is_member = false;
    if (preapproval != null)
    {
        is_validated = true;
        email = preapproval.email;
        wanum = preapproval.wanum;
        userName = preapproval.member_nick;
        try { display_wanum = Faysal.MaskString(wanum); } catch { }
        // display_wanum = wanum.Substring(wanum.Length - 3) + "***";
        telegram_nick = preapproval.telegram_nick;
        member_name = preapproval.member_name;
        PreApprovalId = preapproval.serial;
        suggested_user_name = preapproval.member_nick;
        try { gender = preapproval.gender; } catch { }
        try { member_id = preapproval.member_id; } catch { }
        try { birth_date = preapproval.birth_date; } catch { }
        
        if (member_id > 0)
        {
            is_member = true;
        }
    }
 
    if (is_validated)
    {
        <center>
            <section class="wel_sec" style="text-align:center">
                <div class="container">
                    <div class="B" style="text-align:center">
                        <div class="B">
                            <img class="logo" src="images/newlogo.png" />
                        </div>
                        <div class="loginHeader">
                            <b>סיום הרשמה</b>
                        </div>
                        <div id="NewRegDiv" class="RegFormBg">
                            <form id="UserSignUpForm">
                                <input type="hidden" name="member_id" value="@member_id" />
                                <input type="hidden" name="PreApprovalId" value="@PreApprovalId" />
                                <input type="hidden" name="pa_code" value="@pa_code" />
                                <div class="A" style="text-align:center;">
                                    <div class="JoinPropSubTitle">לסיום ההרשמה יש למלא את הטופס</div>
                                </div>

                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right;text-align:right">
                                            <div class="B">
                                                שם מלא <span class="reqField">*</span>
                                            </div>
                                        
                                       
                                        </div>
                                        @if (!String.IsNullOrEmpty(member_name))
                                        {
                                            <input type="text" class="Chkout_tb" readonly value="@member_name" style="color:rgba(166, 160, 111, 1);font-weight:normal;" />
                                            <input type="hidden" id="member_name" name="member_name" value="@member_name" />
                                        }
                                        else
                                        {
                                            <input type="text" class="Chkout_tb" id="member_name" name="member_name" value="@member_name" />
                                        }

                                    </div>
                                </div>

                              


                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right;text-align:right">
                                            <div class="B">
                                                #ווטסאפ <span class="reqField">*</span>
                                            </div>
                                         


                                        </div>
                                        <input type="text" class="Chkout_tb" value="@display_wanum" readonly style="color:rgba(166, 160, 111, 1);font-weight:normal;" />
                                        <input type="hidden" name="wanum" value="@wanum" />

                                    </div>
                                </div>

                  

                                @if (gender == 0)
                                {
                                    <div class="Chkout_TbRow">
                                        <div class="CkotPropRow">
                                            <div class="Chkout_TbRTite" style="float:right;text-align:right">
                                                <div class="B">
                                                    אני
                                                </div>

                                            </div>
                                            <select class="Chkout_tb" id="gender" name="gender" onblur="if(IsAccordion('GenderToolTip')){Accordionize('GenderToolTip');}">
                                                <option value="0">נא לבחור..</option>
                                                <option value="1">זכר</option>
                                                <option value="2">נקבה</option>
                                                <option value="-1">אחר.ת</option>

                                            </select>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" name="gender" value="@gender" />

                                }

                                @if (birth_date == defDate)
                                {
                                    <div class="Chkout_TbRow">
                                        <div class="CkotPropRow">
                                            <div class="Chkout_TbRTite" style="float:right;text-align:right">
                                                <div class="B">
                                                    תאריך לידה <span class="reqField">*</span>
                                                </div>
                                                <div class="B">
                                                    <div class="JoinPropSubTitle">
                                                        ההרשמה מגיל 18!
                                                    </div>
                                                </div>


                                            </div>
                                            <input type="date" class="Chkout_tb" id="birth_date" name="birth_date" value="@birth_date.ToString("yyyy-MM-dd")" />

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" id="birth_date" name="birth_date" value="@birth_date.ToString("yyyy-MM-dd")" />

                                }


                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right">
                                            <div class="B">
                                                כתובת מייל <span class="reqField">*</span>
                                            </div>
                                       

                                        </div>
                                        <input type="text" class="Chkout_tb" name="email" value="@email" />

                                    </div>
                                </div>

                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right">
                                            <div class="B">
                                                יוזר טלגרם
                                            </div>
                                          

                                        </div>
                                        <input class="Chkout_tb" type="text" name="telegram_nick" value="@telegram_nick" />


                                    </div>
                                </div>

                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right">
                                            <div class="B">
                                                שם משתמש <span class="reqField">*</span>
                                            </div>
                                            <div class="JoinPropSubTitle">
                                                לזיהוי במערכת
                                            </div>

                                        </div>
                                        <input type="text" class="Chkout_tb" name="UserName" value="@suggested_user_name" />

                                       
                                    </div>
                                </div>


                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right">
                                            <div class="B">
                                                סיסמא <span class="reqField">*</span>
                                            </div>

                                        </div>
                                        <input class="Chkout_tb" type="password" name="password" />

                                    </div>
                                </div>
                                <div class="Chkout_TbRow">
                                    <div class="CkotPropRow">
                                        <div class="Chkout_TbRTite" style="float:right">
                                            <div class="B">
                                               סיסמא שוב <span class="reqField">*</span>
                                            </div>

                                        </div>
                                        <input class="Chkout_tb" type="password" name="password_confirm" />

                                    </div>
                                </div>


                                <div class="Chkout_TbRow" style="margin-top:20px">
                                    <div class="CkotPropRow" style="border:0">
                                        <div class="Chkout_TbRTite" style="float:right;color: rgba(171, 108, 0, 1);">
                                            <input type="checkbox" name="is_terms" class="A" />
                                            <span>קראתי והסכמתי <span onclick="sbload('SubMenu','Caller?p1=RegStatementHeb');"><b><u><span style="cursor:pointer;">לתנאי השימוש</span></u></b></span><span class="reqField">*</span></span>
                                        </div>
                                    </div>

                                </div>
                              

                               <div class="Spacer5"></div>
                            </form>
                        </div>

                        <div style="overflow:auto;" id="prospectJoinActions">
                            <div class="regErrMsg2" id="SignUpErrorDiv"></div>
                            <div class="A" style="text-align:center">
                            <div class="Spacer10"></div>
                            <div class="Spacer5"></div>
                                <button type="button" class="checkuotBtn" style="background-color:#a6a06f;float:right;width:30%" onclick="controller.close('MainSb');">ביטול</button>
                                <button type="button" class="checkuotBtn" style="float:left;width:50%" onclick="AjaxActions('UserSignUp', '', 'MainLoader', 'UserSignUpForm');">התחברות</button>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <center>
            </center>

        </center>


    }
    else
    {
        <div style="color:red;background-color:#ffffcc;font-size:16px;padding:5px;margin:5px;border-radius:5px;">
        הקוד לא תקין @pa_code
        </div>
    }


}
