@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;

    var context = HttpContextAccessor.HttpContext;
    var culture = new System.Globalization.CultureInfo("he-IL");
    decimal default_shipping_charge = 0;
    decimal cart_shipping_charge = 0;
    decimal free_shipping_marker = 0;
    decimal free_shipping_deficit = 0;
    ViewData["callingPage"] = "CART";
    int strain_id = 0; try { strain_id = Convert.ToInt32(ViewData["strain_id"]); } catch { }
    var db = Database.Open("faysal");
    var sqlSelect = "";

    int imgCnt = 0;

    if (strain_id > 0)
    {
        sqlSelect = "SELECT * FROM strainOptions WHERE id=@0";
        var strain = db.QuerySingle(sqlSelect, strain_id);
        int strain_rating = 0;try { strain_rating = Convert.ToInt32(strain.rating); } catch { }
        sqlSelect = "SELECT file_id FROM strainImages WHERE is_deleted=0 AND is_show=1 AND strain_id=@0";
        var strainImages = db.Query(sqlSelect, strain_id);
        sqlSelect = "SELECT nick,rating,comment,ts FROM strainsFeedbacks WHERE strain_id=@0 AND is_public=1 AND is_publish=1 ORDER BY ts DESC";
        var feedbacks = db.Query(sqlSelect, strain_id);
        <section class="wel_sec">
            <div class="container">

                <div class="B">
                    <div class="B">
                        <div class="A">
                            <img class="ordersLogo" src="/images/s_logo.png" />
                            <span style="z-index:9999;font-size:16px;color:white;float:left;padding-left:10px;direction:ltr;display:none" onclick="window.location.href = '/?go=orderenglish';"><span> 🌐 </span>For English, click here</span>
                            <div class="B" style="float:left">

                                <div class="ordersSmallButtons" style="float:left">
                                    <img src="images/call.png" class="ordersSmallButtons" />
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="B">
                        <div class="floatingGrnBg">&nbsp;</div>

                        <div class="B" style="text-align:center;position:relative;z-index:1">
                            <div class="StrainInfoTitle" style="text-align:center;">
                                @strain.title
                                <div class="StrainIntroSubMsg">
                                    @strain.cat_title
                                </div>
                            </div>

                            <div class="A">
                            
                                @foreach(var imgFile in strainImages)
                                {
                                    imgCnt++;
                                    if (imgCnt % 2 == 0)
                                    {
                                        <div class="B" style="float:right;min-height:130px;width:50%">
                                            <img class="ProdImgs" src="pImgView?id=@imgFile.file_id" />
                                        </div>
                                        

                                    }
                                    else
                                    {
                                        <div class="B" style="float:left;min-height:130px;width:50%">
                                            <img class="ProdImgs" src="pImgView?id=@imgFile.file_id"  />
                                        </div>
                                        
                                    }

                                    if (imgCnt % 2 == 0)
                                    {
                                        <div style="clear: both;"></div>
                                    }
                                }

                            </div>

                            @if (!String.IsNullOrEmpty(@strain.description))
                            {
                                <div class="StrainDesc" >
                                    @strain.description
                                </div>
                            }
                            
                            @if (feedbacks.Count() > 0)
                            {
                                <div class="A">
                                    <span class="fbStrainTitle">חברים מספרים על הזן <span>@strain.title</span></span>
                                    <div class="B" style="text-align:center;clear:both;">
                                        @for (var i = 0; i < strain_rating; i++)
                                        {
                                            <span class="fbStarRating">⭐</span>
                                        }
                                    </div>

                                    @foreach (var fb in feedbacks)
                                    {
                                        int rating = fb.rating;
                                        <div class="fbItem">
                                            <div class="B">
                                                <span class="fbNick">@fb.nick</span>
                                                <span class="fbRating">
                                                    @for (var i = 0; i < rating; i++)
                                                    {
                                                        <span class="fbStarRating">⭐</span>
                                                    }
                                                </span>
                                            </div>

                                            <div class="fbInfo">
                                                @fb.comment
                                                <span class="fbTime">@fb.ts.ToShortDateString()</span>
                                            </div>
                                        </div>
                                    }

                                </div>
                            }
                            

                        </div>

                        <div class="A" style="text-align:center;">


                            <button class="OrderPageChkoutBtn" type="button" onclick="controller.close('MainSb');" style="width:50%;float:none;">&lt; חזרה</button>


                        </div>
                        <div class="Spacer50">&nbsp;</div>








                    </div>
                </div>
            </div>
        </section>

    }
    db.Close();


}

